@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.projects-container {
    padding: 4rem;
}

.projects-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.projects-title {
    color: rgb(4, 129, 143);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    font-weight: 900;

}

.project-card {
    text-align: left;
}

.card {
    background-color: rgb(1, 104, 104);
    color: white;
    margin: 1rem;
    padding: 2rem;
    border-radius: 12px;
}

.card:hover {
    transform: scale(1.05);
}

.sub-heading {
    font-size: larger;
}

a {
    text-decoration: none;
    color: white;
}

.heading {
    font-size: 26px;
}

.project-card p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 1.2rem;
}